.form-fieldset{
  border: none;
}

.form-block{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.searchbar-fieldset{
  display: flex;
  border: none;
  margin-bottom: 2vh;
}

.search-bar{
  flex-grow: 1;
  height: 8vh;
  border: none;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  padding: 10px;
  font-size: 130%;
  color: #BABABA;
  background-color: #2E2B37;
}

.search-bar:focus{
  outline: none;
}

.search-bar-section{
  flex-grow: 1;
  display: flex;
  position: relative;
}

.clean-button-cont,.searchBar-search-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 2rem;
}

.searchBar-search-button{
  margin-left: 1rem;
}
.clean-button-cont{
  padding: 0 5px;
  margin-left: auto;
  background-color:#2E2B37;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}

.clean-button-cont,.searchBar-search-button,.trash-icon, .chevron{
  transition: color 200ms ease-in-out;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
}
.clean-button-cont:hover,.searchBar-search-button:hover,.trash-icon-cont:hover .trash-icon,.show-form-button:hover .chevron{
  color: #B40803;
}

.clean-button{
  animation-name: initialX;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.form-fieldset-input label{
  color: #BABABA;
  font-weight: 500;
}

.filter-fieldset{
  background-color: #2E2B37;
  display: flex;
  overflow-y: hidden;
  gap: 1rem;
  padding: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: height .3s linear;
  -webkit-transition: height .3s linear;
  -moz-transition: height .3s linear;
  -ms-transition: height .3s linear;
  -o-transition: height .3s linear;
}

.filter-fieldset-section{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  visibility: hidden;
  justify-content: space-evenly;
}

.form-fieldset-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.form-fieldset-input select,.form-fieldset-input input{
  border: none;
  padding: 7px;
  color: #FFF;
  background-color: #2E2B37;
  border-bottom: 2px solid #B40803;
  height: 2rem;
}

.form-fieldset-input select:focus,.form-fieldset-input input:focus{
  outline: none;
}

.trash-icon-cont{
  display: flex;
  background-color: transparent;
}

.trash-button{
  align-self: center;
  border: none;
  visibility: hidden;
  background-color: transparent;
}

.trash-icon{
  color: #FFF;
  font-size: 1.5rem;
}

.form-fieldset-input{
  width: 23%;
}
.form-fieldset-input select,.form-fieldset-input input{
  width: 100%;
}

.show-form-button{
  border: none;
  background-color: transparent;
  margin-top: .5rem;
  align-self: center;
  transform: rotateZ(0);
  -webkit-transform: rotateZ(0);
  -moz-transform: rotateZ(0);
  -ms-transform: rotateZ(0);
  -o-transform: rotateZ(0);
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
}

.show-form-button--spine{
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}

.chevron{
  color: #FFF;
  font-size: 1.5rem;
}
/* 
.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
} */

@keyframes initialX{
  0%{
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
}

  100%{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  } 
}

@media screen and (max-width: 800px){
  .form-fieldset-input{
    width: 30%;
  }
  .form-fieldset-input select,.form-fieldset-input input{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .form-fieldset-input{
    width: 45%;
  }
  .form-fieldset-input select,.form-fieldset-input input{
    width: 100%;
  }
  .clean-button-cont,.searchBar-search-button{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px){
  .form-fieldset-input{
    width: 100%;
  }
  .form-fieldset-input select,.form-fieldset-input input{
    width: 100%;
  }
  .clean-button-cont,.searchBar-search-button{
    font-size: 1rem;
  }
  
}